*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Alegreya Sans', sans-serif;
}
.clr{
    clear: both;
}
.header{
    background-image: url(images/drew-coffman-1872.jpg);
    background-size: 100% 100%;
    background-position: center center;
    height: 100vh;
    overflow: hidden;
    font-family: 'Alegreya', serif;

}
.nav{
    position: fixed;
    top:0;
    background-color:rgb(0,0,0,0.6);
    width: 100%;
}
.nav-content{
    width: 90%;
    margin: 10px auto;
    overflow: hidden;
    
}

.nav-content img{
    width: 15%;
float: left;
}
.links{
  font-size: 18px;  
float: right;
list-style-type: none;
color: white;

}
.links li{
    float:left;
    padding: 10px 16px;
}

.links a:hover{
color:darkgoldenrod ;
    
}

.cover{
    text-align: center;
    color: white;
    margin-top: 200px;
    font-size: 25px;
}
h1{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 52px;
}
.btn{
    margin-top: 20px;
    color: white;
    padding: 15px 25px;
    margin-right: 15px;
    border-style: none;
    border-radius: 2px;
}
.btn1{
    border-style:  none;
    background-color:#8e7754 ;
}
.btn2{
    border: solid 1px  white;
    background-color: transparent;
}
.section1{
    
    width: 90%;
    margin: 20px auto;
    overflow: hidden;
}
.home{
    margin-top: 10px;
    width: 50%;
float: left;
}
.home img{
    width: 100%;
}
.home h2{
    padding: 40px 0px 10px 50px ;
}

.home p{
    font-size: 20px;
    padding:10px 0px  10px 50px;
    line-height: 25px;
    color: rgb(90, 92, 89);
}

.home ul{
    padding: 10px 0px 10px 50px;
    color: rgb(90, 92, 89);
    list-style: none;
    font-size: 20px;
}
.home a{
    padding-right: 10px;
    color: darkgoldenrod;
    font-size: 30px;
    
}
.section2{
    background-color: #f8f8f8;
    overflow: hidden;
}

.location{
    background-color:#f8f8f8;
    width: 90%;
    margin:30px auto;  
}
 .loc-content{ 
     float: left;
    width: 50%;  
    
}
.loc-content h2{
    padding-top:40px ;
}
.loc-content p{
    padding-right: 50px;
    font-size: 20px;
    color: rgb(90, 92, 89);

}

.loc-photo{
    width: 100%;
    
    
}
.section3{
    text-align: center;
margin-bottom: 40px;
margin-top:40px;
font-size: 20px;
overflow: hidden;
}
.section3 h2{
    color: rgb(54, 57, 58);
    
}
.section3 p{
    color: rgb(106, 107, 107);
}
.container{
    width: 90%;
    margin: 30px auto;
    
}

.number{
    float: left;
    width: 33.333%;
    font-size: 20px;
    color: rgb(92, 89, 89);
    padding-right: 30px;
    line-height: 30px;
}
.number p {
    padding-right: 30px;
}

.number h3{
 padding-top: 20px;
 padding-bottom: 10px;
 color: rgb(54, 57, 58);
        
}
.number-image{
        width:100%;
 }

.section4{
 background-color: #f8f8f8;
overflow: hidden;
 }
        
 
.info{
 background-color:#f8f8f8;
 width: 90%;
 margin:40px auto;  
}

.info-content{ 
 color: rgb(90, 92, 89);
float: left;
width: 50%;  
            
}


.info-content iframe{
    width: 100%;
    height: 400px;
}
.contents{
    padding:10px 25px;
    line-height:25px ;
    
}
.contents a{
    padding-right: 10px;
    color: rgb(105, 77, 5);
    font-size: 22px;
}
.info-content h2{
   color: rgb(54, 57, 58);
   
}
.info-content p{
    font-size: 25px;
}
.info-content ul{
    list-style: none;
    font-size: 21px;
}   
.footer{
    background-color:#403d38;
    color: #d4d3d3;
     
}
.details{
    width: 90%;
margin: 0px auto;
padding-top: 70px;
}
.detail{
    width: 25%;
    float: left; 
}
.brdr{
    width: 90%;
    height: 1px;
    margin:10px 0px;
    background-color:rgba(255,255,255,0.3);
}
.detail h3{
    
    padding:0px 10px 30px 20px;
    color: white;
}
.detail p{
    line-height: 1.86em;
    padding-right: 30px;
}
.detail ul{
    list-style: none;
    line-height: 1.86em;
    padding:0px 10px 30px 20px;
}
.detail a{
    padding-right: 10px;
    color: silver;
}

.end{
    background-color:#1b1b1b;
    
    text-align: center;
 color: white;
 padding: 70px 0px 40px;
}
.end p{
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.container-icon {
text-align: center;
    padding-top: 30px;
}
.container-icon a{
    color: silver;
    padding-right: 10px;
    text-decoration: none;
    font-size: 30px;
    padding-left: 10px;
}

.greater{
    font-size: 12px;
}




